snippet html
<html>
<head>
<meta charset="utf-8"/>
<script src="/angular.js"></script>
</head>
<body>
${0}
</body>
</html>
endsnippet

snippet app
<div ng-app="my_app">
	${0}
</div>
endsnippet

snippet body
<body>
${0}
</body>
endsnippet

snippet script
<script>
${0}
</script>
endsnippet

snippet src
<script src="${0}"></script>
endsnippet
